<section class="player-container">
  <!-- 左側音樂資訊 -->
  <section class="song">
    <img
      class="song__image"
      [src]="
        this.currentSong()?.imgPath ? this.currentSong()?.imgPath : this.currentSong()?.album?.imgPath
      "
      alt=""
    />
    <section class="song__info">
      <span class="song__info__title">{{ this.currentSong()?.name }}</span>
      <span class="song__info__artist">{{ this.currentSong()?.artist?.name }}</span>
    </section>
  </section>

  <!-- 中間音樂撥放器 -->
  <section class="player">
    <!-- 上方播放、循環撥放等等按鈕 -->
    <div class="player__play-tool">
      <mat-icon class="player__play-tool__icon">shuffle</mat-icon>
      <mat-icon class="player__play-tool__icon player__play-tool__icon--skip"
        >skip_previous</mat-icon
      >
      @if (player.paused) {
        <mat-icon
          class="player__play-tool__icon player__play-tool__icon--play"
          (click)="player.play()"
          >play_circle</mat-icon
        >
      } @else {
        <mat-icon
          class="player__play-tool__icon player__play-tool__icon--pause"
          (click)="player.pause()"
          >pause_circle</mat-icon
        >
      }
      <mat-icon class="player__play-tool__icon player__play-tool__icon--skip">skip_next</mat-icon>
      <mat-icon class="player__play-tool__icon">repeat</mat-icon>
    </div>

    <!-- 下方音樂播放進度條區域 -->
    <div class="player__time-tool">
      <audio
        #player
        [src]="this.currentSong()?.audioPath"
        (timeupdate)="currentTime = player.currentTime"
      ></audio>

      <div class="player__time-tool">
        <span>{{ formatTime(currentTime) }}</span>

        <mat-slider class="player__slider" min="0" [max]="player.duration || 0">
          <input matSliderThumb [value]="currentTime" (valueChange)="player.currentTime = $event" />
        </mat-slider>

        <span>{{ formatTime(player.duration || 0) }}</span>
      </div>
    </div>
  </section>

  <!-- 右側工具列 -->
  <section class="tool">
    <mat-icon class="tool__lyrics">lyrics</mat-icon>
    <mat-icon class="tool__playlist">queue_music</mat-icon>
    <mat-icon class="tool__volume">volume_up</mat-icon>
    <div class="tool__music">
      <div class="tool__music__current"></div>
    </div>
    <button class="tool__close" (click)="closePlayer(true)">
      <mat-icon>close</mat-icon>
    </button>
  </section>
</section>
