<main class="musicbar">
  <header class="musicbar__header">
    <span>你的音樂庫</span>
    <button class="musicbar__header__btn"><mat-icon aria-hidden="true">add</mat-icon>新增</button>
  </header>
  <ul class="musicbar__list">
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
    <li class="musicbar__list__item">
      <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
      <div class="musicbar__list__item__title">離開我的依賴</div>
      <div class="musicbar__list__item__artist">王豔薇</div>
    </li>
  </ul>
</main>
