<main class="musicbar" [class.no-login]="!this.auth.isLoggedIn()">
  <header class="musicbar__header">
    <span>你的音樂庫</span>
    @if (!!this.auth.isLoggedIn()) {
      <button class="musicbar__header__btn"><mat-icon aria-hidden="true">add</mat-icon>新增</button>
    }
  </header>

  @if (!!this.auth.isLoggedIn()) {
    <ul class="musicbar__list">
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
      <li class="musicbar__list__item">
        <img class="musicbar__list__item__image" src="./mock/musicbar/image 1.png" alt="" />
        <div class="musicbar__list__item__title">離開我的依賴</div>
        <div class="musicbar__list__item__artist">王豔薇</div>
      </li>
    </ul>
  } @else {
    <div class="musicbar__not-login-area">
      <div class="musicbar__login-request">您必須登入才能觀看個人音樂庫</div>
      <button class="musicbar__login-btn" (click)="openLoginDialog() ">立即登入</button>
    </div>
  }
</main>

@if (this.isLoginDialogOpen()) {
  <app-login (close)="isLoginDialogOpen.set(false)"></app-login>
}
