@use 'sass:map';
@use 'variables' as *;

:host {
  --album-image: 200px;
  --tool-btn: 50px;
  --tool-icon: 24px;
}

.album {
  display: block;
  height: 100%;
  overflow-x: auto;
  @include block(40px, 40px);
  box-shadow: none;
  &__back-btn {
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid $color-ts-blue;
    box-shadow: 4px 4px 20px 0 rgba($color-green, 0.2);
    border-radius: 100px;
    color: $color-blue;
    &:hover {
      background: $color-green;
      color: $color-white;
    }

    &__icon {
      transform: translateX(20%);
    }
  }
  &__image {
    margin-left: 20px;
    width: var(--album-image);
    height: var(--album-image);
  }

  &__header {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__info {
    color: $color-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__type {
      margin-top: 10px;
      font-size: map-get($font-sizes, 'xl');
    }
    &__name {
      font-size: map-get($font-sizes, '3xl');
    }
    &__artist {
      margin-top: 20px;
      font-size: map-get($font-sizes, 'xl');
    }
    &__record {
      font-size: map-get($font-sizes, 'base');
      margin-bottom: 10px;
    }
  }
}
.mat-mdc-table {
  table-layout: fixed;
  display: table;
  box-sizing: border-box;
  background: none;
  background: $color-table;
}
.mat-mdc-header-row,
.mat-mdc-row {
  width: 100%;
}
.table {
  :host &__th {
    background: none;
    border: none;

    &--id {
      width: 6%;
      text-align: start;
    }
    &--name {
      width: 35%;
    }
    &--album {
      width: 35%;
    }

    &--time {
      width: 12%;
      text-align: start;
      height: fit-content;
    }

    &--tool {
      text-align: center;
      width: 12%;
      height: fit-content;
    }
  }
  :host &__td {
    border: none;
    background: none;

    color: $color-blue;

    &__icon {
      width: var(--tool-icon);
      height: var(--tool-icon);
      font-size: var(--tool-icon);
    }

    &--id {
      display: block;
      width: 6%;
      text-align: start;
      margin: auto auto;
      height: fit-content;
    }
    &--name {
      display: flex;
      width: 35%;
    }

    &--album {
      width: 35%;
      text-align: start;
      margin: auto auto;
      height: fit-content;
    }

    &--time {
      width: 12%;
      text-align: start;
      margin: auto auto;
      height: fit-content;
    }

    &--tool {
      width: 12%;
      text-align: start;
      margin: auto auto;
      height: fit-content;
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__info {
    // margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__artist {
      font-weight: normal;
    }
  }
}
.mat-mdc-row,
.mat-mdc-header-row {
  padding: 10px;
  display: inline-flex;
}

.mat-mdc-row {
  cursor: pointer;
  height: 80px;
  color: $color-blue;
  &:hover {
    background: $color-ts-green;
  }
  &:hover .table__td {
    color: $color-white;
  }
}
.mat-mdc-header-row {
  color: $color-blue;
  height: 40px;
}

@media (max-width: 1280px) {
  :host {
    --album-image: 150px;
    --tool-icon: 16px;
  }

  .album{
    padding: 20px;
  }
}
