@use 'variables' as *;

.recommand {
  &__header{
    margin-bottom: 12px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 12px;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid $color-ts-gray;
    gap: 24px;

    &:hover{
      background: $color-ts-green;
      color: $color-white;

    }
    @include recommand-btn;
    &__image {
      width: 80px;
      height: 80px;
    }
    &__title {
      font-size: map-get($font-sizes, 'base');
    }
  }
}
