<main class="album">
  <button class="album__back-btn">
    <mat-icon aria-hidden="false" aria-label="返回" class="album__back-btn__icon" routerLink="/"
      >arrow_back_ios</mat-icon
    >
  </button>

  <header class="album__header">
    @if (!!this.currentCollection()) {
      <img
        class="album__image"
        [src]="
          this.currentCollection()!.type == 'album'
            ? this.currentCollection()!.imgPath
            : './mock/unnamed.png'
        "
        alt=""
      />
      <section class="album__info">
        <h5 class="album__info__type">
          {{ this.currentCollection()!.type == 'album' ? '專輯' : '播放清單' }}
        </h5>
        <h1 class="album__info__name">{{ this.currentCollection()?.name }}</h1>
        <h3 class="album__info__artist">
          {{
            !!this.currentCollection()?.artist
              ? this.currentCollection()?.artist?.name
              : this.currentCollection()?.user?.name
          }}
        </h3>
        <span class="album__info__record">喜歡人數：{{ this.currentCollection()?.like }}</span>
      </section>
    }
  </header>

  <main>
    <table class="table" mat-table [dataSource]="this.songList()!" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th class="table__th table__th--id" mat-header-cell *matHeaderCellDef>#</th>
        <td class="table__td table__td--id" mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="table__th table__th--name" mat-header-cell *matHeaderCellDef>歌曲</th>
        <td class="table__td table__td--name" mat-cell *matCellDef="let element">
          <section class="table__info">
            <span class="table__info__title">{{ element.name }}</span>
            <span class="table__info__artist">{{ element.artist.name }}</span>
          </section>
        </td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th class="table__th table__th--album" mat-header-cell *matHeaderCellDef>專輯</th>
        <td class="table__td table__td--album" mat-cell *matCellDef="let element">
          {{ element.album.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th class="table__th table__th--time" mat-header-cell *matHeaderCellDef>時間</th>
        <td class="table__td table__td--time" mat-cell *matCellDef="let element">
          {{ element.length }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tool">
        <th class="table__th table__th--tool" mat-header-cell *matHeaderCellDef>動作</th>
        <td class="table__td table__td--tool" mat-cell *matCellDef="let element">
          <button
            class="table__tool-btn"
            type="button"
            title="加入最愛"
            [class.table__tool-btn--active]="isFavorite(element.id)"
            (click)="addToFavorite(element.id, $event)"
          >
            <mat-icon aria-hidden="true" class="table__td__icon">favorite</mat-icon>
          </button>
          <button
            class="table__tool-btn"
            type="button"
            title="加入播放清單"
            (click)="addToPlaylist(element.id, $event)"
          >
            <mat-icon aria-hidden="true" class="table__td__icon">playlist_add</mat-icon>
          </button>
          <button
            class="table__tool-btn"
            type="button"
            title="加入佇列"
            (click)="addToQueue(element, $event)"
          >
            <mat-icon aria-hidden="true" class="table__td__icon">queue</mat-icon>
          </button>
          @if (this.currentCollection()!.type !== 'album') {
            <button
              class="table__tool-btn"
              type="button"
              title="刪除"
              (click)="deleteSong(element.playlistSongId, $event)"
            >
              <mat-icon aria-hidden="true" class="table__td__icon">delete</mat-icon>
            </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="setPlayer(row.id)"
        [routerLink]="['/song', row.id]"
      ></tr>
    </table>
  </main>
</main>
