<main class="album">
  <button class="album__back-btn">
    <mat-icon aria-hidden="false" aria-label="返回首頁" class="album__back-btn__icon" routerLink="/"
      >arrow_back_ios</mat-icon
    >
  </button>

  <header class="album__header">
    @if (!!this.currentAlbum()) {
      <img class="album__image" [src]="this.currentAlbum()!.imgPath" alt="" />
      <section class="album__info">
        <h5 class="album__info__type">
          {{ this.currentAlbum()!.type == 'album' ? '專輯' : '播放清單' }}
        </h5>
        <h1 class="album__info__name">{{ this.currentAlbum()?.name }}</h1>
        <h3 class="album__info__artist">
          {{
            this.currentAlbum()?.type == 'album'
              ? this.currentAlbum()?.artist?.name
              : this.currentAlbum()?.artist?.name + ' 等藝人'
          }}
        </h3>
        <span class="album__info__record">喜歡人數：{{ this.currentAlbum()?.like }}</span>
      </section>
    }
  </header>

  <main>
    <table class="table" mat-table [dataSource]="this.songlist()!" class="mat-elevation-z8">
      <!-- 歌曲編號 -->
      <ng-container matColumnDef="id">
        <th class="table__th table__th--id" mat-header-cell *matHeaderCellDef>#</th>
        <td class="table__td table__td--id" mat-cell *matCellDef="let element; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- 歌名 -->
      <ng-container matColumnDef="name">
        <th class="table__th table__th--name" mat-header-cell *matHeaderCellDef>歌名</th>
        <td class="table__td table__td--name" mat-cell *matCellDef="let element">
          <!-- <img class="table__image" [src]="element.imgPath" alt="" /> -->
          <section class="table__info">
            <span class="table__info__title">{{ element.name }}</span>
            <span class="table__info__artist">{{ element.artist.name }}</span>
          </section>
        </td>
      </ng-container>

      <!-- 專輯 -->
      <ng-container matColumnDef="album">
        <th class="table__th table__th--album" mat-header-cell *matHeaderCellDef>專輯</th>
        <td class="table__td table__td--album" mat-cell *matCellDef="let element">
          {{ element.album.name }}
        </td>
      </ng-container>

      <!-- 時長 -->
      <ng-container matColumnDef="time">
        <th class="table__th table__th--time" mat-header-cell *matHeaderCellDef>時長</th>
        <td class="table__td table__td--time" mat-cell *matCellDef="let element">
          {{ element.length }}
        </td>
      </ng-container>

      <!-- 動作 -->
      <ng-container matColumnDef="tool">
        <th class="table__th table__th--tool" mat-header-cell *matHeaderCellDef>動作</th>
        <td class="table__td table__td--tool" mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="true" class="table__td__icon">favorite</mat-icon>
          <mat-icon aria-hidden="true" class="table__td__icon">playlist_add</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="setPlayer(row.id)"
        [routerLink]="['/song', row.id]"
      ></tr>
    </table>
  </main>
</main>
