<section class="lyric">
  <header class="lyric__header">歌詞</header>
  <main class="lyric__container">
    <span class="lyric__item">第一段歌詞</span>
    <span class="lyric__item">第二段歌詞</span>
    <span class="lyric__item">第二段歌詞</span>
    <span class="lyric__item">第二段歌詞</span>
    <span class="lyric__item">第二段歌詞</span>
    <span class="lyric__item lyric__item--prev" >第三段歌詞</span>
    <span class="lyric__item lyric__item--active">第四段歌詞</span>
    <span class="lyric__item lyric__item--next">第五段歌詞</span>
    <span class="lyric__item">第六段歌詞</span>
    <span class="lyric__item">第七段歌詞</span>
    <span class="lyric__item">第七段歌詞</span>
    <span class="lyric__item">第七段歌詞</span>
    <span class="lyric__item">第七段歌詞</span>
  </main>
</section>
