<main class="artist">
  <header class="artist__header">藝人</header>
  <img class="artist__image" src="./mock/album/img-1.png" alt="" />
  <div class="artist__name">Billish Jean</div>
  <div class="artist__intro">
    這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字。
  </div>
</main>
