<main class="artist">
  <header class="artist__header">藝人</header>
  <img class="artist__image" [src]="this.currentSong()!.artist!.imgPath" alt="" />
  <div class="artist__name">{{this.currentSong()!.artist.name}}</div>
  <div class="artist__intro">
    這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字這是一段介紹文字。
  </div>
</main>
